@media ( max-width: 1200px ) {

      .form {
            padding: 0;
      }

      .products {
            gap: 0;
            grid-template-columns: 25% 75%;
      }

      .products__grid {
            grid-template-columns: repeat(2, 1fr);
            padding-right: 0;
      }

      .category__results {
            font-size: 1.4rem;
            margin-left: 6rem;
      }

      .category__results, .price__results  {
            font-size: 1.4rem;
      }

      .aside__section header h2 {
            font-size: 1.6rem;
      }

      .login__info, .signup__info {
            margin-top: 2rem;
      }

      .cart__header h2 {
            font-size: 1.8rem;
            margin: 0;
      }

      .cart__info p {
            font-size: 2rem;
      }

      .product__container {
            gap: 2rem;
      }

      .product__info h2 {
            font-size: 3rem;
      }
      
      .product__description {
            font-size: 1.6rem;
            padding: 2rem;
      }

      .product__price p:nth-child(2) {
            font-size: 2.8rem;
      }

      .button {
            height: fit-content;
      }

      .cart {
            width: 50rem;
      }

      .purchases,
      .userpage {
            width: 100%;
      }

      .slider__image img {
            max-height: 40rem;
      }

      .product__card-image img {
            height: 20rem;
      }

}

@media ( max-width: 992px ) {
      
      .products {
            grid-template-columns: 1fr;
      }

      .aside {
            width: 100%;
            margin: 0 auto;
            grid-template-columns: 1fr;
      }

      .aside__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }

      .product__container {
            grid-template-columns: 1fr;
      }

      .product__description {
            padding: 0;
      }

      .relatedProducts__grid {
            grid-template-columns: repeat(2, 1fr);
      }

      .navigation-2 {
            gap: 10rem;
      }

      .slider__image img {
            max-height: 30rem;
      }
}

@media ( max-width: 768px ) {

      html {
            font-size: 56.25%;
      }

      .products__grid {
            padding: 0;
      }

      .product__card-image img {
            height: 15rem;
      }

      .product__container {
            margin-bottom: 8rem;
      }

      .navigation-2 {
            gap: 8rem;
      }

      .cart {
            width: 40rem;
      }

      .userpage__cart {
            width: 80%;
            margin: 0 auto;
            grid-template-columns: 1fr;
      }

      .userpage__img  {
            padding: 2rem;
      }

      .purchaseItem {
            padding: 1rem;
      }

      .purchaseItem__header {
            flex-direction: column;
      }

      .search__results {
            margin-bottom: 3rem;
      }

      .category__results {
            margin: 0;
      }

      .userpage__cart {
            display: unset;
      }

      .userpage__item {
            font-size: 1.6rem;
      }

}

@media ( max-width: 576px ) {

      html {
            font-size: 50%;
      }

      .products, 
      .login,
      .signup {
            padding: 20rem 0 8rem;
      }

      .products__grid {
            grid-template-columns: 1fr;
      }

      .products__card  {
            width: 80%;
      }

      .aside {
            width: 90%;
      }

      .aside__container {
            grid-template-columns: 1fr;
      }

      .search__results {
            margin-bottom: 5rem;
      }

      .navigation {
            flex-direction: column;
            row-gap: 2rem;
      }

      .aside__section header h2 {
            font-size: 2rem;
      }

      .cart {
            width: 50rem;
      }

      .relatedProducts__grid {
            grid-template-columns: 1fr;
      }

      .product {
            padding: 25rem 0;
      }

      .navigation-2 {
            gap: 10rem;
      }

}